html,
body {
  background: black;
  color: white;
  margin: 0;
  overflow: hidden;
  height: 100%; }

canvas[resize] {
  width: 100%;
  height: 100%; }

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 1px solid #333;
  background: #fff; }
